/*font-family: 'Allerta', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

.body{
font-family: 'Allerta', sans-serif;
margin: 0;
}
.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	margin-top: 70px;
	}
.tittle-a{
	font-size: 24px;
	margin-top: 0;
	}
.guitarras{
	color: #1f313c;
	
}
.guitarras h2{
font-size: 35px;
}
.tittle-b{
	font-size: 50px;
	font-family: 'Montserrat', sans-serif
	margin-bottom 20px;
}
.portada{
	padding: 30px;
	color: white;	
		background-image: url('../images/background.png');
		background-size: cover;
					}

.button {
background: #fe344e;
margin-bottom: 70px;
border-radius: 12px;
color:white;
border: none;
padding: 7px 12px;
background:linear-gradient(to left, #fe344e, #ff7250);
cursor: pointer;
}



.menu{
	font-size: 24px;
	color:white;
	display: inline-block;
	position: absolute;
	right: 0
}


.menu li{
	color: white;
	display: inline-block;
	margin-right: 30px;


}


.menu li:before{
  content: '∘';
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.menu a{
	color:white;
	text-decoration: none;
}


.logotipo{
	display: inline-block;
	margin: 0;
}
.contenedor{
	width: 800px;
	margin: auto;
	padding: 20px;
	}

.derecha{
	float: right;
	position: relative;
	top: -100px;
	

}
.izquierda {
	float: left;
	position: relative;
	height: 300px;
}

.guitarra{
	border: 2px solid  #1f313c;
	border-radius: 8px;
	margin: 30px;
	height:250px;

}
.guitarra ol{
	
}
.contenedor-guitarra-b{
	margin-left: 370px;
}

.contenedor-guitarra-a{
	padding-left: 30px;
	}

.header{
	position: relative;
}

.footer{
	background: #273b47;
	color: white;
	font-family: 'Montserrat', sans-serif;

	}

	.footer .contenedor {
		display: flex;
		justify-content: space-between;

			}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items:flex-start;

}	
.contacto img{
	display: block;
}
.contacto strong{
	display: block;
	}
.contacto a{
	text-decoration: none;
	color:white;
	margin: 10px 10px 10px 0;
}
.formulario{
	text-decoration: none;
	display: flex;
	width: 400px;
	color: white;
	align-items: center;
}	 

.formulario label {
	margin-bottom: 15px;
	text-decoration: none;
}	

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}


.col1 label{
	text-decoration: none;

}
.col2{
	align-items: flex-start;

}



.col2 input{
margin : 10px;
}

.intereses label{
	font-size: 12px;
}
.sexo{
	margin-top: 10px;	
}
.intereses{
	align-items: center;
}

table {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}


th, td{
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}	

th{
	color: white;
	background: #273b47;
}

table , th , td{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

td{
	font-size: 15px;

}